.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.categorypagelabel{
  background-color: rgb(38, 207, 137);
  margin-left: -100%;
}
hr {
  color: rgb(38, 207, 137);
  border-top: 49px solid rgb(38, 207, 137);;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color:rgb(38, 207, 137);
}
.categorypagename {
  
  -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
